/* CSS Rules
{
font-family: 'Roboto Mono', monospace; font-family: 'Rubik Mono One', sans-serif;font-family: 'Share Tech Mono', monospace;font-family: 'Space Mono', monospace;
} */

h1
{

    font-family: 'Rubik Mono One', sans-serif;
}

h2
{
    font-family: 'Share Tech Mono', monospace;
}

p
{
    font-family: 'Roboto Mono', monospace;
}

button
{
    font-family: 'Share Tech Mono', monospace;
}