*
{
    margin: 0%;
    padding: 0%;
}

body
{
    background-color: antiquewhite;
}

#appWrapper
{
    display: grid;
    place-items: center;
    width: 100%;
}

h1
{
    font-size: max(4vh, 4vw);
    justify-self: center;
    margin: 2vh;
    text-align: center;
}

#cardWrapper
{
    display: grid;
    place-items: center;
    width: 100%;
}

.sentenceCard
{
    background-color: beige;
    border: .2em solid burlywood;
    border-radius: 1em;
    display: grid;
    margin: 0% 5% .5em;
    min-height: max(60vh, 35vw);
    max-height: 80vh;
    padding: 0% max(7vw, 5vh);
    place-items: center;
    font: normal max(3vw, 3vh) serif;
    min-width: 80vw;
    max-width: 80vw;
}

h2
{
    font: normal max(2vw, 3vh) serif;
    position: relative;
    text-align: center;
    margin-bottom: .5em;
}

#buttonWrapper
{
    display: flex;
    flex-direction: row;
}

button
{
    font: normal max(3.5vh, 2.5vw) monospace;
    background: linear-gradient(beige, antiquewhite);
    margin: 0 1em;
    padding: 1%;
}