body {
    background-color: antiquewhite;
    display: grid;
    place-content: center;
}
#appWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin-bottom: 0;
}
#cardWrapper {
    width: min(95vw, 60ch);
}
.sentenceCard {
    background-color: beige;
    border: .2em solid burlywood;
    border-radius: 1em;
    display: grid;
    height: 5em;
    padding: 3em;
    place-content: center;
    font: normal 1.5em serif;
    white-space: pre-line;
    width: auto;
}
#buttonWrapper {
    display: flex;
    place-content: center;
}
button {
    font: normal 2em monospace;
    background: linear-gradient(beige, antiquewhite);
    margin: 0 1em;
}
h3 {
    font: normal 1.25em serif;
}